.dropzone {
	width: 100%;
	height: 200px;
	border: 1px dashed rgba(0, 0, 0, 0.5);
	border-radius: 15px;
	font-family: Arial;
	text-align: center;
	position: relative;
	line-height: 180px;
	font-size: 20px;
	background-color: rgba(223, 223, 223, 0.3);
}

.dropzone input {
	position: absolute;
	left: 0px;
	top: 0px;
    opacity:0;
	width: 150px;
	height: 40px;
}

.dropzone img {
	display: block;
	max-width: 250px;
	max-height: 100px;
	width: auto;
	height: auto;
	margin: auto;
    display: block;
	margin-top: 20px;
}

.dropzone.mouseOver {
	border: 1px dashed rgba(0, 0, 0, 0.5);
	background-color: rgba(211, 229, 250, 0.5);
}

.browseButton {
	position: absolute;
	left: 50%;
	top: 50%;
	margin-left: -75px;
	margin-top: 20px;
	line-height: 26px;
	text-align: center;
	color: white;
	font-size: 12px;
	width: 150px;
	height: 40px;
	border-radius: 4px;
	background-color: #0f2791;

}

.browseButton:hover {
	background-color: #4460dd;
}